extends layout

block content
    h2= title
    div(ng-controller='CardsController')

      div(ng-show='dialog.length')
        h4 Dialog
        ul
          li(ng-repeat='card in dialog')
            |  {{card.name}} - Tasks done: {{card.badges.checkItemsChecked}}/{{card.badges.checkItems}}

      div(ng-show='cdm.length')
        h4 CDM
        ul
          li(ng-repeat='card in cdm')
            |  {{card.name}} - Tasks done: {{card.badges.checkItemsChecked}}/{{card.badges.checkItems}}

    script(src='/components/angular/angular.min.js')
    script(type='text/javascript').
      function CardsController($scope, $http, $timeout) {
        $scope.getData = function() {
          $http.get('reviews/dialog').success( function(data, statuts, headers, config) {
            $scope.dialog = data;
            $scope.dialog.splice(0,1);
          });

          $http.get('reviews/cdm').success( function(data, statuts, headers, config) {
            $scope.cdm = data;
            $scope.cdm.splice(0,1);
          });
        };

        $scope.intervalFunction = function() {
          $timeout(function() {
            $scope.getData();
            $scope.intervalFunction();
            }, 60000)
        };

        $scope.getData();
        $scope.intervalFunction();
      }
